src/main/mule/w3a-scheduler-regular.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="db0f9037-1499-40a3-9ec6-2c988ed504b6" />
	<flow name="w3a-scheduler-regularFlow" doc:id="41fcb2d4-f319-410c-bb53-bc8e5f9d71fc" >
		<scheduler doc:name="Scheduler" doc:id="e431bf6a-5d7e-4a6d-95ca-517605e26b8f" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="6941d3d1-f668-448d-b33d-e562a0dc11ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'trigered':now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="97e432ae-bffd-4f5c-8393-943bd38476fb" path="C:\Users\Natey\Documents\ProjectsInClass\cheduler-regular.json" config-ref="File_Config" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="72b5e12f-ee8e-44d7-b408-a96c6d6fcc5e" message="Trigered at #[now()]"/>
	</flow>
</mule>
